

.container{
    margin-bottom: 120px;

    .header{
        display: flex;
        align-items: center;
        gap: 60px;
        background-color: #1C1C1C;
        height: 100px;
        padding: 0 30px;

        .link{
            text-decoration: none;
            color: #fff;
            font-size: 24px;
            font-weight: 600;
            position: relative;
            
            &::after{
                content: "";
                position: absolute;
                bottom: -4px;
                left: 50%;
                width: 0;
                height: 1px;
                background-color: #fff;
                transition: all .4s ease;
            }

            &:hover{
                &::after{
                    width: 100%;
                    left: 0;
                }
            }

            &.selected{
                &::after{
                    width: 100%;
                    left: 0;
                }
            }
        }
    }
}