



.container{

    .loader{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        width: 100%;
    }

    .search{
        display: flex;
        align-items: center;
        gap: 40px;
        margin: 10px 0;

        .add{
            min-width: 280px;
            height: 40px;
        }
    }

    .table{
        width: 100%;
        text-align: start;
        border-spacing: 0 5px;
        border-collapse: separate;
        margin-top: -5px;

        .item{
            border-bottom: 1px solid var(--black);
            background-color: #247DCF;
            height: 64px;

            th{
                text-align: start;
                padding: 16px 30px;
            }
        }

        .features{
            display: flex;
            align-items: center;
            gap: 40px;
        }
    }
}