

.container{
    
    >input{
        display: none;
    }

    .imageWrapper{
        position: relative;
        width: 300px;
        height: 300px;
        border-radius: 20px;
        overflow: hidden;
        cursor: pointer;

        .loadingSpinner{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
        }

        .img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        >svg{
            position: absolute;
            z-index: 2;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: all .15s ease;
        }
        
        &::after{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.3);
            opacity: 0;
            transition: all .15s ease;
        }

        &.loading{
            cursor: auto;
            &::after{
                opacity: 1;
            }
            &:hover{
                >svg{
                    opacity: 0;
                }
            }
        }

        &:hover{
            >svg{
                opacity: .8;
            }
            &::after{
                opacity: 1;
            }
        }
    }

    
}