

.container {
    background-color: var(--dark-background);
    margin-top: 40px;
    padding: 24px 40px;
    border-radius: 20px;

    .loaderContainer{
        width: 100%;
        height: 80px;
        margin: 20px auto 0 auto;
    }

    .header{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .title{
            margin: 0 auto;
            font-size: 20px;
            font-weight: 800;
        }

        .add{
            position: absolute;
            left: 0;
            width: 230px;
        }
    }

    .list{
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        margin-top: 40px;

        .item{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 40px;
            background-color: var(--dark-gray);
            color: #AAAAAA;
            padding: 8px 20px;
            border-radius: 8px;

            .delete{
                fill: #ffffff;
                cursor: pointer;
                transition: all .15s ease;

                &:hover{
                    fill: var(--light-gray)
                }
            }
        }
    }
}