

.container {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    background-color: #2F2F2F;
    height: 64px;
    width: 100%;
    padding: 0 30px;
    position: relative;
    z-index: 111;

    .orderingNumber{
        width: 270px;
    }

    .slug{
        width: 360px;
    }
    
    .preview{
        cursor: pointer;
    }

    .isActive{
        display: flex;
        align-items: center;   
    }
}