


.container{
    position: relative;

    .text{
        cursor: pointer;
    }

    .items{
        display: none;
        position: absolute;
        z-index: 11;
        list-style: none;
        padding: 10px 6px;
        background-color: #1C1C1C;
        width: 360px;
        margin-top: 10px;
        border-radius: 10px;
        overflow-x: hidden;
        overflow-y: auto;
        border: 1px solid rgba(255, 255, 255, 0.2);
        max-height: 400px;
        
        &::-webkit-scrollbar {
            width: 6px;
        }
        &::-webkit-scrollbar-track {
            box-sizing: border-box;
            background: #4a4a4a;
            border-radius: 50% / 2px;
            margin: 5px 0;
        }
        &::-webkit-scrollbar-thumb{
            background-color: #ccc;
            border-radius: 50% / 2px;
        }

        .item{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 4px;
            cursor: pointer;
            transition: all .15s ease;
            border-radius: 10px;
            padding: 4px 10px;

            .delete{
                stroke: #898989;
                transition: all .15s ease;

                &:hover{
                    stroke: #dfdfdf;
                }
            }

            &:hover{
                background-color: #363636;
            }

            &.selected{
                color: var(--blue);
            }
        }

        .loader {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.2);
            top: 0;
            left: 0;
            z-index: 1;
        }

        &.open{
            display: block;
        }
    }
}