   
   

.container{
    li{
        font-size: 15px;
    }

    svg{
        width: 24px;
        height: 24px;
        border-radius: 6px;
                    
        path{
            stroke: var(--text-gray);
        }
    }
}