   
   

.container{
    padding: 3px 6px;
    border-radius: 6px;
    transition: all .25s ease;

    &:hover{
        background-color: var(--sign-gray);
    }

    li{
        font-size: 15px;
    }

    svg{
        width: 24px;
        height: 24px;
        border-radius: 6px;
                    
        path{
            stroke: var(--text-gray);
        }
    }
}