

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 60px;

    .item{
        display: flex;
        align-items: center;
        background-color: #1C1C1C;
        padding: 18px 30px;
        border-radius: 10px;
        font-size: 24px;
        font-weight: 600;
        border: 1px solid rgba(255, 255, 255, .2);
        cursor: pointer;
        transition: all .15s ease;
        text-decoration: none;
        color: #fff;

        &:hover{
            border: 1px solid var(--blue);
        }
    }
}