

.container{
    background-color: var(--dark-background);
    margin-top: 40px;
    padding: 24px 40px;
    border-radius: 20px;
    
    .loaderContainer{
        width: 100%;
        height: 80px;
        margin: 20px auto 0 auto;
    }

    .title{
        font-size: 24px;
        font-weight: 800;
        text-align: center;
    }

    .subs{
        display: grid;
        margin: 30px auto 20px auto;
        width: 600px;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}