


.container{
    margin: 40px auto 350px auto;

    .loader{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 300px;
    }

    .content{
        width: 700px;
        margin: 0 auto;
    }

    p, ul, ol, blockquote{
        font-weight: 300;
    }

    p, h2, h3, ul, ol, blockquote {
        min-height: 1.8rem;
        font-size: 18px;
        margin: 15px 0;
        line-height: 160%;
        white-space: pre-wrap;
        opacity: .9;
    }
    
    ul, ol{
        padding-left: 30px;
        opacity: 1;

        li{
            padding: 3px 0;
            opacity: .9;
        }
    }

    h2, h3{
        margin: 30px 0 15px 0;
        font-weight: 600;
    }

    h2{
        font-size: 22px;
    }
        
    h3{
        font-size: 20px;
    }

    hr{
        background: #5e5e5e;
        border: none;
        outline: none;
        height: 2px;
        width: 100%;
        margin: 30px 0;
    }

    figure{
        margin: 20px 0;
        
        img{
            display: inline-block;
            border-radius: 12px;
        }
    }
    
    blockquote{
        position: relative;
        opacity: .7;
        padding-left: 16px;

        &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            background-color: #fff;
            border-radius: 2px;
            width: 2px;
        }
    }
    
    img{
        max-width: 100%;
    }

    figcaption{
        min-height: 1.5em;
        font-size: 0.8rem;
        margin-top: 4px;
        color: #676767;
        text-align: center;
        outline: none;
    }
}