


.container{
    margin: 40px auto 350px auto;

    .loader{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 300px;
    }

    .content{
        width: 1000px;
        margin: 0 auto;
    }
}