

.container{


    
}
.content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #1C1C1C;
    width: 100%;
    display: flex;
    padding: 40px 60px;
    border-radius: 16px;
    width: 500px;

    .button{
        margin-top: 10px;
    }
}