

.container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background-color: #1C1C1C;
    border-radius: 10px;
    margin: 10px 0;
    padding: 20px 30px;

    .left, .right{
        display: flex;
        align-items: center;
        gap: 80px;
    }

    .id{
        font-size: 20px;
        font-weight: 600;
    }

    .createdAt{
        text-wrap: nowrap;
    }
}