


.container{
    position: relative;

    .darken{
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 9;
    }

    .text{
        cursor: pointer;

        .name{
            color: var(--text-gray);
        }
    }

    .wrapper{
        display: none;
        position: absolute;
        z-index: 11;
        padding: 10px 6px;
        background-color: #1C1C1C;
        width: 360px;
        margin-top: 10px;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.2);

        &.open{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        
        .items{
            overflow-x: hidden;
            overflow-y: auto;
            max-height: 200px;
            list-style: none;
            
            &::-webkit-scrollbar {
                width: 6px;
            }
            &::-webkit-scrollbar-track {
                box-sizing: border-box;
                background: #4a4a4a;
                border-radius: 50% / 2px;
                margin: 5px 0;
            }
            &::-webkit-scrollbar-thumb{
                background-color: #ccc;
                border-radius: 50% / 2px;
            }
    
            .item{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 4px;
                cursor: pointer;
                transition: all .15s ease;
                border-radius: 10px;
                padding: 4px 10px;
    
                &:hover{
                    background-color: #363636;
                }
    
                &.selected{
                    color: var(--blue);
                }
            }
        }
    }

}