.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modalContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    min-width: 340px;
    background-color: var(--dark-background);
    border-radius: 20px;

    .modalTitle {
        font-size: 20px;
        font-weight: 700;
        text-align: center;
    }

    .modalActions {
        display: flex;
        gap: 12px;
        justify-content: center;
    }
}
