



.container {
    background-color: var(--dark-background);
    margin-top: 40px;
    padding: 24px 40px;
    border-radius: 20px;

    .loader{
        width: 100%;
        height: 80px;
        margin: 20px auto 0 auto;
    }

    .header{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .title{
            margin: 0 auto;
            font-size: 20px;
            font-weight: 800;
        }

        .add{
            position: absolute;
            left: 0;
            width: 230px;
        }
    }

    .list{
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        margin-top: 40px;

        .top{
            background-color: var(--dark-gray);
        }

        .item{
            border: 1px solid rgba(255, 255, 255, 0.2);
        }

        .item, .top{
            display: flex;
            align-items: center;
            width: 100%;
            gap: 20px;
            color: #ffffff;
            padding: 18px 20px;
            border-radius: 8px;

            .id{
                min-width: 60px;
            }

            .delete{
                margin-left: auto;
                fill: #ffffff;
                cursor: pointer;
                transition: all .15s ease;

                &:hover{
                    fill: var(--light-gray)
                }
            }
        }
    }
}