


.subscriberLinkWrapper{
  position: relative;
  
  .subscriberLink{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    width: 100%;
    background: var(--dark-gray);
    color: white;
    border-radius: 8px;
    padding: 10px 16px;

    >img{
      width: 30px;
      height: 30px;
      object-fit: contain;
    }

    .subsText{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: row;
      column-gap: 5px;
      align-items: center;
      text-align: center;
      font-size: 14px;

      .subsCount{
        font-weight: 700;
        min-width: auto;
        white-space: nowrap;
        text-align: end;
      }
    }
  }

  .lastUpdated{
    font-size: 12px;
    color: #aeaeae;
    margin-top: 5px;
    text-align: center;
    text-wrap: nowrap;
  }
}