

.container {
    display: flex;
    flex-direction: column;
    background-color: #1E1E1E;
    border-radius: 20px;
    padding: 24px 40px 20px 40px;
    overflow: hidden;
    gap: 20px;
    margin-top: 40px;

    .header{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .title{
            margin: 0 auto;
            font-size: 20px;
            font-weight: 800;
        }

        .add{
            position: absolute;
            left: 0;
            width: 230px;
        }
    }

    .loader{
        width: 100%;
        height: 200px;
    }
}

.list{
    position: relative;
    list-style: none;
    width: 100%;

    &::after{
        content: "";
        display: block;
        width: 1px;
        height: 100%;
        top: 0;
        left: 50%;
        background-color: var(--dark-gray);
        position: absolute;
    }
    

    .top{
        display: flex;
        width: 100%;
        gap: 40px;
        padding: 20px 20px 8px 20px;

        .badge{
            padding: 8px 20px;
            border-radius: 8px;
            background: var(--dark-gray);
            text-align: center;
                
            &:first-child{
                width: 65%;
            }

            &:last-child{
                width: 35%;
            }
        }
    }

    .item{
        display: flex;
        width: 100%;
        border-bottom: 1px solid var(--dark-gray);
        padding: 10px 20px;
        gap: 40px;


        &:last-child{
            border-bottom: none;
        }
    }
}