

.container{
    width: 100%;
    color: #fff;
    position: relative;
    
    .wrap{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;
    }

    .content{
        border: none;
        outline: none;
        // &::after{
        //     content: attr(data-placeholder);
        // }
    }

    p, h2, h3, ul, ol, blockquote {
        min-height: 1.5rem;
        font-size: 18px;
        margin: 15px 0;
        line-height: 1.5rem;
        white-space: pre-wrap;
    }
    
    h2{
        font-size: 22px;
    }
        
    h3{
        font-size: 20px;
    }

    hr{
        background: #5e5e5e;
        border: none;
        outline: none;
        height: 2px;
        width: 100%;
        margin: 15px 0;
    }

    figure{
        margin: 20px 0;
        
        img{
            display: inline-block;
        }
    }
    
    blockquote{
        position: relative;
        opacity: .7;
        padding-left: 16px;

        &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            background-color: #fff;
            border-radius: 2px;
            width: 2px;
        }
    }
    
    img{
        max-width: 100%;
        cursor: text;
    }

    figcaption{
        min-height: 1.5em;
        font-size: 0.8rem;
        margin-top: 4px;
        color: #676767;
        text-align: center;
        outline: none;
    }

    ul, ol{
        padding-left: 30px;

        li{
            padding: 3px 0;
        }
    }
}
