

.container{
    width: 100%;
    color: #fff;
    position: relative;
    
    .wrap{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;
    }

    .content{
        border: none;
        outline: none;
        // &::after{
        //     content: attr(data-placeholder);
        // }
    }

    img{
        cursor: text;
    }
}
