

.container{
    width: 100%;
    color: #fff;
    position: relative;
    
    .wrap{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;
    }

    .content{
        border: none;
        outline: none;
        // &::after{
        //     content: attr(data-placeholder);
        // }
    }

    p, h2, h3, ul, ol {
        min-height: 1em;
        font-size: 1.2rem;
        margin: 15px 0;
        white-space: pre-wrap;
    }

    h2{
        font-size: 1.6rem;
        margin: 15px 0;
    }
    
    h3{
        font-size: 1.4rem;
        margin: 15px 0;
    }

    figure{
        margin: 15px 0;
        
        img{
            display: block;
            margin: 0 auto;
        }
    }
    
    img{
        max-width: 100%;
        cursor: text;
    }

    figcaption{
        min-height: 1.5em;
        font-size: 0.8rem;
        margin-top: 4px;
        color: #676767;
        text-align: center;
        outline: none;
    }

    ul, ol{
        padding-left: 30px;

        li{
            min-height: 1.5em;
        }
    }
}
