

.header{
    position: sticky;
    z-index: 1;
    top: 20px; 
    margin-top: 20px;
    width: 1200px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    color: var(--text-gray);

    font-weight: 600;

    button{
        font-weight: 600;
    }

    .action{
        display: flex;
        justify-content: end;
    }

    .change{
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: var(--dark-gray);
        height: 50px;
        border-radius: 10px;
        width: 100%;
        padding: 0 20px;
    }
}