

.main{
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #AEAEAE;

    .selectedItem{
        position: relative;
        display: flex;
        align-items: center;
        min-height: 28px;
    }

    .agencyRepresentative{
        margin-top: 3px;
    }

    .name{
        margin: 5px 0;
        font-size: 24px;
        font-weight: 800;
        line-height: 24px;
        color: var(--text-gray);
    }
}