

.container {
    display: flex;
    align-items: center;

    .paint{
        width: 30px;
        height: 30px;
        border-radius: 6px;
        transition: all 0.25s ease;

        &:hover{
            background-color: var(--sign-gray);
        }

        svg{
            cursor: pointer;
            transition: all .15s ease;

            &.highlight{
                path{
                    stroke: var(--blue);
                }
            }
          
            path{
                stroke: var(--text-gray);
            }
            width: 100%;
            height: 100%;
            padding: 4px;
        }
    }

}