


.textareaBox{
    width: 100%;
    border: 1px solid #d8d8d8;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 6px;
    
    transition: all var(--time-input) ease;

    &.hightlight{
        border: 1px solid var(--blue);
    }

    .sign{
        color: #d8d8d8;
    }
    
    .wrap{
        display: flex;
        gap: 10px;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    textarea{
        width: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        color: #fff;
        height: 40px;
        font-size: 14px;
    }
}