


.action{
    display: flex;
    justify-content: center;
    cursor: pointer;

    .delete{
        fill: #ffffff;
        cursor: pointer;
        transition: all .15s ease;

        &:hover{
            fill: var(--light-gray)
        }
    }
}