
.container{
    .icon{
        display: flex;
        align-items: center;
        gap: 6px;
        color: #999;
        cursor: pointer;
        transition: color .15s ease;
        padding: 8px;
        border-radius: 8px;

        &:hover{
            color: #fff;
        }

        &.active{
            color: var(--blue);
        }

        .badge{
            font-size: 12px;
            font-weight: 700;
            min-width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--blue);
            color: #fff;
            border-radius: 50%;
        }
    }
}
