

.wrapper_main{
  width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 100%;
}

.bold{
  font-weight: 600;
}

.italic{
  font-style: italic;
}

.underline{
  text-decoration: underline;
}

a, .link{
  text-decoration: underline;
  color: var(--link-blue);
  transition: all .15s ease;
  cursor: pointer;
}

a:hover, .link:hover{
  color: var(--hover-link-blue);
}

.color-blue{
  padding: 15px 30px;
  border-radius: 20px;
  margin: 20px 0;
  background-color: rgba(15, 54, 87, 1);
}

.video-edit{
    position: relative;
    cursor: text;
    height: 100%;
    width: 100%;
}

.video-edit::after{
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loader_main{
  margin: 40px;
}