

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Proxima Nova', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

body {

  --blue: #2F9BFF;
  --blue-hover: #0073FF;
  --dark-blue: #01284B;

  --black: #0E0F0F;
  --light-black: #242424;

  --dark-gray: #464646;
  --sign-gray: #606060;
  --gray: #ffffff80;

  --dark-background: #161616;

  --text-gray: #F2F2F2;

  --link-blue: #007AFF;
  --hover-link-blue: #0053AE;

  --time-input: .15s;

  font-family: 'Proxima Nova', 'sans-serif';
  font-weight: 400;

  background-color: var(--black);

  color: var(--text-gray);
}