
.container{
    background-color: var(--dark-background);
    margin-top: 40px;
    padding: 24px 40px;
    border-radius: 20px;

    .loader{
        width: 100%;
        height: 80px;
        margin: 20px auto 0 auto;
    }

    .title{
        font-size: 24px;
        font-weight: 800;
        text-align: center;
    }

    .create{
        margin-top: 20px;
        text-align: center;
        cursor: pointer;
    }

    .formWrap{
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-top: 20px;

            
        .subTitle{
            font-size: 24px;
            color: var(--text-gray);
            font-weight: 600;
            margin: 10px 0;
        }

        .form{
            display: flex;
            flex-direction: column;
            gap: 15px;

        }
    }
}