

.container {
    display: flex;
    align-items: center;
    gap: 30px;
    height: 100px;
    background-color: #1C1C1C;
    padding: 0 30px;

    .save{
        width: 160px;
        height: 40px;
        margin-left: auto;
    }

    .titleBox{
        width: 600px;

        ::-webkit-scrollbar {
            height: 3px;
        }
        ::-webkit-scrollbar-track {
            box-sizing: border-box;
            background: #7d7d7d;
            border-radius: 2px / 50%;
            margin: 0 2px;
        }
        ::-webkit-scrollbar-thumb{
            background-color: #ccc;
            border-radius: 2px / 50%;
        }
    }
}