

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    position: relative;
    cursor: text;
        background-color: rgba(36, 36, 36, 1);
    &.focus{
        box-shadow: 0px 0px 10px 0px var(--blue);
    }

    .label{
        position: absolute;
        font-size: 12px;
        color: var(--gray);
        top: 4px;
        padding: 0px 16px;
        transition: all .2s ease;

        &.active{
            top: 12px;
            color: var(--dark-gray);
            font-size: 16px;
        }
    }

    textarea{
        border: none;
        outline: none;
        width: 100%;
        min-height: 60px;
        resize: vertical;
        padding: 8px 16px;
        background-color: transparent;
        margin-top: 12px;
        font-size: 16px;
        color: var(--text-gray);
    }
}