

.wrapper{
    margin: 40px auto 200px auto;
    .container{
        width: 770px;
        padding: 35px;
        background-color: #2A2A2A;
        margin: 0 auto;
        border-radius: 20px;

    
        .date{
            color: var(--blue);
        }
    
        .header{
            padding-bottom: 15px;
            border-bottom: 1px solid var(--gray);
        }
    
        .wrap{
            margin-top: 50px;
        }
    
        .content{
            margin-top: 30px;
        }
    
        img{
            max-width: 100%;
        }
    
        h1{
            margin-bottom: 20px;
            font-size: 40px;
            line-height: 101%;
            font-weight: 600;
        }

        img{
            max-width: 100%;
        }
    
        p, h2, h3, ul, ol {
            min-height: 1em;
            font-size: 18px;
            margin: 15px 0;
            white-space: pre-wrap;
            line-height: 118%;
        }
    
        h2{
            font-size: 22px;
        }
        
        h3{
            font-size: 20px;
        }

        hr{
            background: #5e5e5e;
            border: none;
            outline: none;
            height: 2px;
            width: 100%;
            margin: 15px 0;
        }
    
        figure{
            margin: 20px 0;
            
            img{
                display: block;
                margin: 0 auto;
            }
        }
        
        figcaption{
            font-size: 0.8rem;
            margin-top: 4px;
            color: #676767;
            text-align: center;
            outline: none;
        }
    
        ul, ol{
            padding-left: 30px;
    
            li{
                min-height: 1.5em;
                padding: 3px 0;
            }
        }
    }

    .miniature{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        border-top: 1px solid var(--gray);
        padding-top: 40px;
        margin-top: 40px;
    }
}
