

.wrapper{
    margin: 40px auto 200px auto;
    .container{
        width: 770px;
        padding: 35px;
        background-color: #2A2A2A;
        margin: 0 auto;
        border-radius: 20px;

        .date{
            color: var(--blue);
        }
    
        .header{
            padding-bottom: 15px;
            border-bottom: 1px solid var(--gray);
        }
    
        .wrap{
            margin-top: 50px;
        }
    
        .content{
            margin-top: 30px;
        }
    
        h1{
            margin-bottom: 20px;
            font-size: 40px;
            line-height: 101%;
            font-weight: 600;
        }
        
        figcaption{
            min-height: 0;
        }
    }

    .miniature{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        border-top: 1px solid var(--gray);
        padding-top: 40px;
        margin-top: 40px;
    }
}
